<appSettings>
  <add key="BaseUrl" value="https://fcm.googleapis.com/" />
  <add key="App.BaseUrl" value="http://romeo.ito.ba/" />
  <!--<add key="TokenTimeMillis" value="15000" />-->
  <add key="COSupportNumber" value="+387039702950" />
  <add key="COHomeSupportNumber" value="+387039702950" />
  <add key="TokenTimeInMinutes" value="1440" />
  <add key="LanguageDefaultCode" value="hr" />
  <add key="LanguageDefaultName" value="Hrvatski" />
  <add key="EmailAddress" value="ekomarkettest@gmail.com" />
  <add key="EmailHost" value="smtp.gmail.com" />
  <add key="EmailEnableSsl" value="true" />
  <add key="EmailUsername" value="ekomarkettest@gmail.com" />
  <add key="EmailPassword" value="P@55w0rd1!" />
  <!--<add key="EmailAddress" value="centarmotors.mailing@gmail.com" />
  <add key="EmailHost" value="smtp.gmail.com" />
  <add key="EmailEnableSsl" value="true" />
  <add key="EmailUsername" value="centarmotors.mailing@gmail.com" />
  <add key="EmailPassword" value="{R_A]j7`{tTLU;\!" />-->
  <add key="EmailPort" value="587" />
  <add key="App.ImageSaveLocation" value="/uploads/gasstations/" />

  <add key="WebClientId" value="9f41bb34-1b8d-486c-b89a-be7dbfc5f820"/>
  <add key="MobileClientId" value="db1b1935-f950-4482-b9a8-021b45619680"/>
  <add key="LogsFileNameFormat" value="dd-MM-yyyy"/>
  <add key="LogsLocation" value="~/App_Data/Logs/"/>
  
  <add key="FCMSender" value="id=986958287108"/>
  <add key="FCMAuthorization" value="key=AAAA5ctMUQQ:APA91bEb6-MEwWsP7Cot_vl0U9eWy_0gnncTSYmqKNbFhBH2mPe45_Qlj68h8s4lYBXO4xDjW9dbxfgATn0l_iq6C-o_6fW4NUJEs51x5jvO7zWlHHThaMnUxDnu4n8WtcmbWAuEZVJUqT0xqhBQMocvmIXhAObLBQ"/>


</appSettings>