<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=213.239.212.139,4862\MSSQLSERVER2012;Initial Catalog=AssistanceDEMODb;Integrated Security=false;user id=sa;password=Sql2012;MultipleActiveResultSets=True;"
       providerName="System.Data.SqlClient" />
</connectionStrings>