@{
    ViewBag.PageTitle = Resource.Clients;
}
<div class="row">
    <div class="col-md-12">
      
        <div class="box box-default">
            <div class="box-header">
                @ViewHelpers.ButtonCreate(this.Url, ClientRoutes.Create)
            </div>
            <div id="dataTarget" class="box-body">
                @Ajax.JavaScriptActionAsync("AHelper.loadData", Url.RouteUrl(ClientRoutes.Data))                
            </div>
        </div>
    </div>
</div>