<appSettings>
  <add key="ApiKey" value="AIzaSyD9sAWMJRGOIyNusgTLkWInZLIcYeA8_Os" />
  <add key="TokenExpirationTime" value="500" />

  <add key="UrlPrefix" value="coa" />
  <!--<add key="UrlPrefix" value="assistance" />-->
  
  <add key="WebApiUri" value="http://localhost/coaapi/" />
  <!--<add key="WebApiUri" value="http://romeo.ito.ba/coa/" />-->


  <add key="SignalR.Url" value="http://localhost/coaapi/signalr" />
  <!--<add key="SignalR.Url" value="http://romeo.ito.ba/coa/signalr" />-->
  
  <add key="SignalR.Hub" value="HelpRequestHub" />
  <add key="WebClientId" value="9f41bb34-1b8d-486c-b89a-be7dbfc5f820" />
  <add key="App.LogFileNameFormat" value="log_dd-MM-yyyy" />
</appSettings>